@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap');

*,
html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	overflow-x: hidden;
}

@layer utilities {
	.text-balance {
		text-wrap: balance;
	}
}

@layer base {
	html {
		font-size: 62.5%;
	}

	body {
		font-family: 'Roboto', sans-serif;
		color: #333;
	}
}

h1 {
	font-size: 2rem;
	font-weight: 700;
	margin-bottom: 1.2rem;
}

h2 {
	font-size: 1.6rem;
	font-weight: 700;
	margin-bottom: 1rem;
}

h3 {
	font-size: 1.3rem;
	font-weight: 700;
	margin-bottom: 1rem;
}

p {
	font-size: 0.9rem;
	line-height: 1.8;
}
